# deps
node_modules/
.pnp.*
.yarn/*

# env
.env
.env.local
.env.*.local

# builds
dist/
build/
.expo/
web-build/
*.tsbuildinfo

# native
ios/Pods/
android/.gradle/
android/app/build/
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# os / editor
.DS_Store
.idea/
.vscode/
*.swp
*.pem

# Expo
expo-env.d.ts

# generated native folders
/ios
/android
